DATABASE_URL="postgresql://user:password@localhost:5432/beyaz_yaka_db?schema=public"
AUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3001"

# Email (SMTP)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="cosmosdreamforall@gmail.com"
SMTP_PASS="53275555546Mcb"
EMAIL_FROM="Site Adı <your@gmail.com>"
